.DS_Store
.local.mk
.vscode/
*.dSYM
*.tgz
*.bak
*.old
assets.zip
bin/json
certs/ioto.*
debug
device.db.jnl
device.db.sync
device.db
images/
ioto/.env
ioto/bin/json
ioto/certs/*
!ioto/certs/aws.crt
!ioto/certs/roots.crt
!ioto/certs/*.ans
!ioto/certs/*.conf
ioto/build
ioto/demo
ioto/state
local.json5
state/
weather

